@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* Fade-in animation utility for Tailwind */
@layer utilities {
  .fade-in-up {
    animation: fadeInUp 0.6s ease-in-out;
  }

  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(20%);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

/* Base Reset & Global Styles */
/* body,
h1,
h2,
h3,
p,
ul,
ol {
  padding: 0;
  margin: 0;
} */

body {
  font-family: "Saans TRIAL", sans-serif;
  background: #000;
}

/* Hero Video Styling */
.hero-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1rem;
}

@keyframes fadeSlide {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-slide {
  animation: fadeSlide 0.4s ease-in-out;
}
